* {
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to bottom, #cbe1ff, #ffffff); /* синій зверху, світло-блакитний знизу */
  transition: backgroundб 0.5s ease;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c2d7e3;
  padding: 20px;
}

h1{
  font-family: "Unbounded";
  font-size: 45px;
  padding: 15px;
  color: #28185e;
  text-align: center;
}


.weather-widget {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to top right, #d9e8f3, #ffffff);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(101, 91, 255, 0.263);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #333;
}

.weather-widget div {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.weather-widget .temp {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  background-color: #fffec2;
}

.weather-widget .wind::before {
  content: "🌬️Швидкість вітру: ";
  margin-right: 8px;
}

.weather-widget .uv::before {
  content: "☀️ УФ :";
  margin-right: 8px;
}

.weather-widget .humid::before {
  content: "💧 Вологість :";
  margin-right: 8px;
}

.weather-widget .precip::before {
  content: "🌧️ Опади :";
  margin-right: 8px;
}


.days {
  /* display: grid;
  grid-template-columns: repeat(7, 150px); */
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

.day {

  background: #ffffff;
  /* border-radius: 16px; */
  padding: 12px;
  width: 150px;
  box-shadow: 0 2px 10px rgba(42, 22, 143, 0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
  gap: 6px;
  justify-content: space-between;


}

.day:hover {
  transform: translateY(-4px);
}

.day img {
  width: 48px;
  height: 48px;
  margin-bottom: 6px;
}

.day .maxt {
  font-weight: bold;
  color: #e65100;
}

.day .mint {
  color: #0277bd;
}

.day .uv {
  font-size: 12px;
  color: #fbc02d;
}

.day .rain {
  font-size: 12px;
  color: #4fc3f7;
}


@media (max-width: 600px) {
  .days {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
  }

  .day {
    flex: 0 0 auto;
  }
}

header .city {
    font-size: 35px;
    margin: 10px;
}

#search{
  width: 200px;
  height: 23px;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.but {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 1000%;
}